{% extends "layout.html" %}
{% block title %}List terminals{% endblock %}
{% block content %}
<h1>Terminals</h1>
<ul>
    {% for terminal in terminals %}
    <li>
        <a href="{% url 'terminal_detail' terminal_id=terminal.id %}">{{ terminal.name }}</a>
    </li>
    {% endfor %}
</ul>
<div class="pagination">
{% if terminals %}
    {% if terminals.has_previous %}
        <a href="?page={{ terminals.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ terminals.number }} of {{ terminals.paginator.num_pages }}</span>

    {% if terminals.has_next %}
        <a href="?page={{ terminals.next_page_number }}">Next</a>
    {% endif %}
{% else %}
    No available terminals.
{% endif %}
</div>
{% endblock %}